<h1> product detail</h1>

<div class="jumbotron">
     <div class="container">
          <img class="img-responsive" src="<%= details["productList"]["imageUrls"]["md"] %>">
		<p><span> <%= details["productList"]["brand"] %> <%= details["productList"]description %></span></p>
		<p>Product Id: <%= details["productList"]["productId'] %></p>
     </div>
</div>
